body {
  font-family: 'Ubuntu', Arial;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

rect {
  fill: none;
  pointer-events: all;
}

#time {
  width: 100%;
  background-color: slateblue;
  height:25px;
}

.node {
  fill: #000;
}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.link {
  stroke: #999;
}